[2018-05-23 15:04] thelinuxlich opened #1 "Remove Admin UI and drivers from the codebase"
Each driver should have its own repository under our org.

[2018-05-23 15:46] thelinuxlich commented on #1
That demos folder can probably go away too

[2018-05-23 15:49] atris commented on #1
Removed the Admin UI folder

[2018-05-26 11:51] ChrisTalman commented on #1
Is there a place where the future of the Admin UI is being discussed? I see [rebirth-desktop](https://github.com/RebirthDB/rebirthdb-desktop), is that it?

[2018-05-26 12:35] thelinuxlich commented on #1
Yes sir!

[2018-05-26 13:46] atris commented on #1
Removed the UI, Driver and Admin folder

[2018-05-26 13:46] #1 closed, assigned to nobody

[2018-05-28 19:29] asakatida opened #3 "Remove Windows support."
Current consensus from external discussion is that windows support should be removed. This will fix at least one test that is out of date and failing.

[2018-05-28 19:32] atris commented on #3
Thanks

On Tue, May 29, 2018 at 1:01 AM, Adam Grandquist <notifications@github.com>
wrote:

--
Regards,

Atri
*l'apprenant*

[2018-05-30 15:09] sankethpb commented on #3
I am not an expert here, but it doesn't sound good to remove windows Support to fix a failing test.
We use RethinkDB currently only on windows and request the community to continue the support.

[2018-05-30 21:05] maarteNNNN commented on #3
@sankethpb Docker should solve your headache. Windows support isn't needed that much anymore.

[2018-05-31 02:00] PassTheMayo commented on #3
Lots of people use RethinkDB (or Rebirth) on Windows because they own a Windows Server. This is a bad idea!

[2018-05-31 05:34] sankethpb commented on #3
If the entire application is containerized then, docker is good but otherwise, just to host database (RethinkDB/RebirthDB) there will be too much overhead to setup and maintain docker, data persistence etc. Docker works fine only on latest Windows OS (10 and latest server), in older OS its complicated.
Also like @PassTheMayo mentioned, Lots of people use RethinkDB (or Rebirth) on Windows because t

[2018-05-31 05:36] atris commented on #3
Ok, if we have users who wish to have support for windows, we shall
continue to have it. Thanks for chipping in.

On Thu, May 31, 2018 at 11:04 AM Sanketh P B <notifications@github.com>
wrote:

--
Regards,

Atri
*l'apprenant*

[2018-05-31 05:38] sankethpb commented on #3
Thank you 👍

[2018-05-31 05:45] thelinuxlich commented on #3
Actually we need to be smart about our resources if we want to keep a healthy release schedule. The Windows version always was beta quality and behind in stability. If no developer steps in to assume the responsibility of keeping the Windows support, we shouldn't postpone the release.

[2018-05-31 05:48] thelinuxlich commented on #3
This issue should be reopened

[2018-05-31 05:58] atris commented on #3
Agreed.  However, we should look at easier migrations then. I wouldn't
want to lose our Windows users

On Thu, May 31, 2018 at 11:19 AM Alisson Cavalcante Agiani
<notifications@github.com> wrote:

--
Regards,

Atri
l'apprenant

[2018-05-31 06:05] thelinuxlich commented on #3
So you will mantain the windows version?

[2018-05-31 06:07] thelinuxlich commented on #3
We will probably stumble upon things we want to do which aren't compatible with Windows. Not to mention performance issues because of windows lack of fork(), etc

[2018-05-31 06:09] atris commented on #3
I didnt say that :)

My two cents here are that we should make it easier for existing windows
users to migrate to a Linux based system. I have personally never used
Windows, so do not know whats the state there.

On Thu, May 31, 2018 at 11:35 AM Alisson Cavalcante Agiani <
notifications@github.com> wrote:

--
Regards,

Atri
*l'apprenant*

[2018-05-31 06:18] atris commented on #3
I agree with @thelinuxlich that we need a maintainer. If somebody steps in, we can continue to have the support, or we will be forced to drop it in 2.4

[2018-05-31 10:26] sankethpb commented on #3
I could support in setting up Build system in Appveyor for windows

[2018-05-31 14:17] thelinuxlich commented on #3
And the core engine code?

[2018-06-04 13:10] ThatLurker opened #7 "Just here to say thank you for saving rethinkdb!"
![you-are-awesome-wallpaper](https://user-images.githubusercontent.com/1533244/40919278-b8b33c3a-6811-11e8-88bc-135c28f5262b.jpg)

[2018-06-05 00:39] thelinuxlich commented on #7
Thank you too for still believing in our dream!

The community is here, please join: https://spectrum.chat/rebirthdb

[2018-06-05 00:39] #7 closed, assigned to nobody

[2018-06-14 19:39] ronzeidman commented on #3
Question for the windows edition supporters. I'm using the windows version mainly for development and I hate to use docker just for this but I tried now and the Ubuntu version works well on WSL. Can anyone test if there are considerable downsides of just using WSL (I'm guessing performance wise) instead of the windows version?

[2018-06-21 04:40] douglasmccormickjr opened #8 "Change README.md -- it doesn't make sense"
I'm a bit confused here -- can someone clue me in as to why the front page of RebirthDB is pretty much (or is) an exact copy/replica of RethinkDB?  I know that the transition to a new version/platform is probably going through some growing pains but its going to mislead users (new & veteran) about what's going on here and the somewhat significant departure that's underway.

I'm thrilled that there

[2018-06-21 06:19] mageshkumaar commented on #8
I believe that the contributors are busy with the release of 2.4 which includes some features that was planned for 2.5 and also number of contributors seems to have reduced. Since 2.4 release is nearing, I think README file will also be updated along with it. For more information, you can check out the spectrum [chat](https://spectrum.chat/rebirthdb)

[2018-06-22 03:35] thelinuxlich commented on #8
Hi Douglas, you are right, we are doing many things and forgot to change this template yet. As @mageshkumar said, feel free to join us at Spectrum, most of the information in your bullet points are there.

[2018-06-26 19:21] zugende commented on #3
I second ronzeidman. When using WSL is equally good or even better then Windows or Docker I am all in removing Windows support. I use Windows version purely for development.

[2018-06-28 17:47] thelinuxlich commented on #3
It is settled, we are removing it.

[2018-07-01 15:55] gdude2002 commented on #3
I don't think that's really a great option until Windows 7 and Windows 8 are both entirely unsupported - so that'd be in 2023 (for Windows 8 anyway). After that, sure, why not? WSL is pretty great.

Sadly a lot of people either don't have machines that can handle Windows 10, or bought into the scaremongering and didn't take the free upgrade when they had the chance.

[2018-07-02 00:31] thelinuxlich commented on #3
@gdude2002 we are short on core developers, so we have to be wise about what fish we can fry. That said, lack of windows support cannot hinder the release schedule

[2018-07-02 00:32] #3 closed, assigned to nobody

[2018-07-06 06:25] srh opened #11 "Apache 2.0 license requires file modification notices"
Please see section 4b.

[code]

[2018-07-25 07:22] gabor-boros opened #14 "Versioning and rebranding"
The beta release still says that the installed db is RethinkDB and v2.3.x.

Do we have plans for rebranding and bumping the version number?

[2018-07-25 15:18] floydkots commented on #14
Yes we have plans for rebranding and bumping the version number. I expect we shall formalize the plans soon.

[2018-07-25 18:02] gabor-boros commented on #14
Sounds good. We should have a timeline. What do you think?

I think a general timeline where all the required actions are represented (for example driver updates, regression testing, etc) would be reasonable.

[2018-07-26 14:27] floydkots commented on #14
Certainly! That will help us progress in a more coordinated and definite way. Looking into organizing a meeting.

[2018-07-26 14:59] floydkots commented on #11
Hey @srh, going forward, we intend to show file modifications by prepending our license header and embedding the original license header like so:
[code]
Would this suffice to fulfill the requirement at section 4b?

[2018-07-27 02:51] srh commented on #11
Im no expert. It seems to me it implies you modified the file (with a copyright statement).

[2018-07-27 05:37] floydkots commented on #11
Yes. That's the idea, that wherever we make modifications we prepend our license statement. We think it's a good starting point, and should we get more expert opinions (we are no experts either :)), we shall not hesitate to make the changes.

If you agree that it's a good enough starting point, can I go ahead and close the issue?

[2018-08-01 04:36] floydkots opened #17 "RebirthDB's packaging fails at the signing stage, missing secret key"
Since we have no access to RethinkDB's secret key that was used to sign the  `rethinkdb` packages, the packaging fails at the signing stage.

We have already created our pair of PGP keys, and will use these to sign our `rebirthdb` packages. We will also need to rename the packages and change maintainer details.

Finally, to avoid confusion, we will also need to rename the server executable, proces

[2018-08-01 04:59] floydkots opened #18 "Add an issue template"
Following [the proposal](https://spectrum.chat/thread/560ae581-1d3b-436a-b4b1-b8b68594535b) by @thelinuxlich and the consensus thereafter, we need to create our issue template.

[2018-08-01 10:14] gabor-boros commented on #17
Please also note that this issue is blocking the integration tests for drivers. The built package is needed for automated integration testing.

**UPDATE**
@floydkots built a package for integration testing to not block the python development.

[2018-08-02 04:32] adallow commented on #17
Question: woudln't "AtnNn" from the rethinkdb open source project (post rethink company shutodwn) have the rethinkdb keys, as he did a new release post the rethinkdb shutdown for version 2.3.6 of rethink db. His details are:
https://github.com/AtnNn
etienne@atnnn.com

he had also set up a build project  for rethink:
https://github.com/rethinkdb/rethinkdb-nix

[2018-08-02 05:35] thelinuxlich commented on #17
We tried contacting everyone for months, they know the fork exists and don't seem eager to help...

[2018-08-07 12:24] floydkots commented on #11
Hi @srh, considering the above steps to be satisfactory, we are closing this issue. Please do not hesitate to reopen it should you think otherwise.

**PS:** Thank you for raising this :)

[2018-08-07 12:24] #11 closed, assigned to asakatida

[2018-08-07 12:29] floydkots commented on #18
Solved by PR #16. Thanks @grandquista.

[2018-08-07 12:29] #18 closed, assigned to asakatida

[2018-08-08 19:09] #8 closed, assigned to floydkots

[2018-08-08 19:09] #14 closed, assigned to floydkots

[2018-08-08 19:10] asakatida commented on #14
Solved by PR #24. Thanks @floydkots.

[2018-08-08 19:10] asakatida commented on #8
Solved by PR #24. Thanks @floydkots.

[2018-08-08 21:44] srh commented on #11
I think this makes your file headers awfully long and repetitive.

[2018-08-13 16:49] MicroDroid opened #26 "Rename to RethonkDB"

[2018-08-13 16:52] atris commented on #26
Spam issue?

[2018-08-13 16:52] MicroDroid commented on #26
Not really, it's just a better name. Rebirth is hard to pronounce.

[2018-08-13 16:55] SilverCory commented on #26
![bitmoji](https://render.bitstrips.com/v2/cpanel/5b384c45-69d3-4dcf-b0c3-0d86b1b944fb-5ca02949-be7d-4a3e-bee7-6d4e10770b66-v1.png?transparent=1&palette=1&width=246)

[2018-08-13 16:57] #26 closed, assigned to nobody

[2018-08-13 16:58] MicroDroid commented on #26
I wasn't even kidding about this (I don't usually meme through GitHub)

But, ok. :+1:

[2018-08-13 16:58] SilverCory commented on #26
![bitmoji](https://render.bitstrips.com/v2/cpanel/204d8f0d-50e5-4db5-a810-f6525a68dc39-5ca02949-be7d-4a3e-bee7-6d4e10770b66-v1.png?transparent=1&palette=1&width=246)

[2018-08-13 17:00] schnapster commented on #26
![image](https://user-images.githubusercontent.com/6048348/44046060-abcc8008-9f2a-11e8-800b-821955622250.png)

[2018-08-14 05:10] Extarys opened #27 "We need a Milestone/Roadmap"
I'm **very** excited that RebirthDB is finally born!

I know there is a lot of work ahead but I wanted to ask if any milestone or roadmap of important features will be released?

I have no idea if the following was implemented or what is the status right now as I didn't follow for the past few months but I saw a couple of discussions and thought about :

- Better compression for data at rest
- Opt

[2018-08-17 10:17] lag-linaro opened #28 "Support for ARM64"
We are seeing some interest in running Rebirth (Rethink) on ARM64 based platforms.

Would it be possible for you guys to provide pre-built binaries as you do for X86 please?

[2018-08-17 10:35] floydkots commented on #28
Hi @lag-linaro, we can't make any promises at the moment, but we are looking into it. We'll update this issue with the progress and direction.

[2018-08-17 10:39] floydkots commented on #27
Thanks @Extarys, we appreciate your kind words and the suggestion.

We'll consider it and put up the milestones appropriately. We'll also post updates of the progress (as regards the milestones) here.

[2018-08-17 10:48] lag-linaro commented on #28
Sounds promising.  Let me know if I can be of any assistance.

FYI, if you're looking for infrastructure:

[2018-08-17 11:01] floydkots commented on #28
Thank you! Totally appreciate the links.

About assistance; if you haven't already, would you please join [our community on spectrum](https://spectrum.chat/rebirthdb)? Most of the communication and planning goes on there.

[2018-08-17 11:06] floydkots commented on #27
And, I forgot to mention, we have this [awesome community on spectrum](https://spectrum.chat/rebirthdb), would you please join us?

Most of the communication and planning goes on there.

[2018-08-18 06:18] dandv opened #29 "Fix the repo URL"
![image](https://user-images.githubusercontent.com/33569/44296426-e9aa7000-a273-11e8-9f15-5d0f880d965e.png)

[2018-08-18 08:42] Extarys commented on #27
Hey, thanks @floydkots, I didn't know about spectrum. That is awesome and exactly what I needed.

[2018-08-19 12:15] v3ss0n opened #30 "Questions about Core Developers of original RethinkDB - are they joining?"
How many core developers of orginal RethinkDB are here?
Do they aware of this fork , are they contributing?
Srh and Atnnn was active before , are they still working on old rethinkdb repo?
His work on performance improvement of RethinkDB is huge so is that included here?
https://github.com/srh/rethinkdb/releases/tag/v2.3.5-srh-extra
http://samuelhughes.com/rethinkdb/index.html

[2018-08-20 16:56] gabor-boros opened #31 "Add DO logo"
We need to add DO logo and notice about their support to the repo and to the website once it is available.

[2018-08-20 17:21] asakatida commented on #31
Logo and support message is at the bottom of the readme in next. Is there a more prominent place it should be placed?

[2018-08-20 20:53] gabor-boros commented on #31
Sorry, last time I checked the readme it was not there :( closing the issue.

[2018-08-20 20:53] #31 closed, assigned to nobody

[2018-08-22 15:31] yjiangnan opened #32 "Add clustering keys for efficient query on time series data"
Rethinkdb is great for real "time" data. Ironically, its query performance on time series data is poor, especially when the table contains millions of documents. The major problem is that every document is independently treated by its primary key. Any range query would look across the whole database and retrieve documents one by one.

However, in other databases such as Cassandra and YugaByte, the

[2018-08-25 04:16] j4m3z0r opened #33 "Ubuntu Repository is not signed"
Hi guys, I just tried to install your packages following the instructions in your quick start and I get the following error when I run `apt update`:

[code]

I added the key using apt-key, but it doesn't seem to make any difference.

[2018-08-25 04:26] j4m3z0r commented on #33
Sorry, forgot to mention: Ubuntu 18.04 on x64.

[2018-08-25 05:20] j4m3z0r opened #34 "Can't migrate from rethinkdb data file"
Worked around the apt issues by installing the .deb file directly, updated my init scripts to point to rebirthdb rather than rethinkdb and restarted. Was expecting that rebirthdb would convert my rethinkdb database over to rebirthdb, however it just created a new one under a `rebirthdb_data` directory. Copying my `rethinkdb_data` directory over this `rebirthdb_data` directory gives me the followin

[2018-08-26 19:21] asakatida commented on #34
I would expect a backup and restore is the required process. This user story isn't in our tests yet, and there is discussion of a merge back to RethinkDB before release of 2.4. That would make this fall under the old test system.

[2018-09-05 12:43] okanbasoglu commented on #33
Having the same issue here.

Ubuntu 18.04 on x64
[code]

Hope someone takes care of this.

[2018-09-19 04:45] #17 closed, assigned to floydkots

[2018-09-19 04:49] floydkots commented on #11
Oh well, I think we might have taken the **"... prominent notices"** bit too seriously :)

At this point, we couldn't be happier that [we are merging back](https://spectrum.chat/thread/0d28e226-c240-465b-b67c-1b1be2cdb58a).

[2018-09-19 05:12] floydkots commented on #29
Thanks, that's a nice catch @dandv!

However, seeing that [we are merging back to RethinkDB](https://spectrum.chat/thread/0d28e226-c240-465b-b67c-1b1be2cdb58a), we'll just keep it that way :)

[2018-09-19 05:12] #29 closed, assigned to nobody

[2018-09-19 05:33] floydkots commented on #30
Hey @v3ss0n, to answer your questions:

None

We believe they are aware of the fork. They may not have made direct contributions yet, but their contributions to the upstream RethinkDB repo are very valuable. Not to mention the cogent issues that they have brought to our attention.

We may not have exact information as regarding this, but we've seen some work on the old repo from time to time.

Onc

[2018-09-19 05:33] #30 closed, assigned to nobody

[2018-09-19 06:06] floydkots commented on #33
Hey, @j4m3z0r and @okanbasoglu, thank you for raising this issue. We are sorry about the trouble you've had there.

At this point, we haven't had an official release. So, no packages have been deployed to the [`rebirthdb` debian repository](https://bintray.com/rebirthdb/apt/rebirthdb).

However, we've had a pre-release and built some test packages which can be found in the [`rebirthdb-dev` debian

[2018-09-19 06:07] #33 closed, assigned to nobody

[2018-09-19 06:13] floydkots commented on #34
Hi @j4m3z0r, you might also find [this part of the docs](https://www.rethinkdb.com/docs/migration/) useful for further information.

We are doing some tidying and re-organisation. Therefore, we'll close this issue.

Should you have further questions on how to go about the backup and restoration (or anything related), please reach out to us at [our awesome community on Spectrum](https://spectrum.ch

[2018-09-19 06:13] #34 closed, assigned to nobody

[2018-09-19 06:31] floydkots commented on #32
Hi @yjiangnan. Thank you for this feature request.

While we can guarantee that we will deliberate on your request, we can't guarantee the outcome of that process at this point.

Thank you for your patience thus far. We will update this issue as soon as we have something more concrete.

[2018-09-21 13:28] bajro17 opened #36 "Spectrum room"
Hello I love see you do so good thing and for Rethinkdb, but I cant find this group on spectrum or maybe to make one on gitter?

[2018-09-22 20:04] thelinuxlich commented on #36
Hello! Since we are merging with RethinkDB, you can find us here: https://spectrum.chat/rethinkdb

[2018-09-22 20:04] #36 closed, assigned to nobody

[2018-09-22 20:05] thelinuxlich commented on #32
Hello @yjiangnan , we actually have plans for columnar storage in 2.5 or 2.6, but it will depend on some sponsorship dedicated to one of the core developers deeply involved with this feature.

[2018-09-22 20:05] #32 closed, assigned to nobody

[2018-09-27 07:00] rutvik106 opened #37 "Stucked on [1/11] BUILD v8_3.30.33.16-patched2"
I am on Cent OS 6 (GoDaddy VPS). using Developer Toolset 7. "scl enable devtoolset-7 -- make" gets stuck at: [1/11] BUILD v8_3.30.33.16-patched2. Please help.

[2018-09-28 02:00] asakatida commented on #37
v8 code and references were replaced with a lighter weight in process environment. That build line indicates `configure` should be rerun against the latest code.

[2018-10-01 16:49] jpmcb opened #38 "Rethink DB consumes all memory in Docker container"
With a Docker container given 700 MB of memory, after about 14 hours, Rethink DB consumes all available memory, and crashes the container.

When looking through monitoring, after about 2 hours of the container running, it seems that the memory usage grows linearly, until eventually, all memory is used and the container crashes. Could this be a memory leak?

After looking at [this](https://rethinkd

[2018-10-01 17:26] CodeX604 opened #39 "Old RethinkDB issues"
Hi All,

Looks like all the old RethinkDB issues were lost in a merge with RebirthDB.

Is that correct?

Thanks

[2018-10-01 18:36] ChrisTalman commented on #39
The old repository still exists, just under the name `rethink-legacy`: https://github.com/rethinkdb/rethinkdb-legacy.

An unfortunate side effect of this is that a lot of links and Google search results currently end up in a `404`, until you append `-legacy` to the repository name in the link.

[2018-10-01 18:55] atris commented on #39
We will be redoing the move and old RethinkDB  repo will become RethinkDB
again. Should happen this weekend

On Tue, 2 Oct 2018 at 12:06 AM, Chris Talman <notifications@github.com>
wrote:

[2018-10-01 21:08] ChrisTalman commented on #39
Nice!

[2018-10-05 05:08] AaronTrazona opened #41 "Query Profiler - Shard Accesses"
Hi everyone,

I have a little question, I hope someone can enlighten me

I doing some  optimization with my queries using the query profiler
to determine the expensive queries. In the Query Profiler, I notice
"shard accesses" so wondering what should be ideal number for "shard accesses".

Here's the sample query profiler
![05-10-2018 13-02-49](https://user-images.githubusercontent.com/1627816/4651

[2018-10-06 15:42] CMogilko opened #42 "r.js timeout is broken and server stops responding"
The docs https://rethinkdb.com/api/javascript/js/ say that default timeout for `r.js()` is 5 secs.
But this query ```r.js("while(true) {}")``` doesn't timeouts. Build today from the next branch. But it works in rethinkdb-legacy.

[2018-10-06 15:45] CMogilko commented on #42
It is more. After this query server doesn't respond at all. Ctrl-C can't help with stopping server. Only kill helps.

[2018-10-06 16:01] CMogilko opened #43 "r.js() control.yaml tests are broken"
Golang driver uses converted yaml tests to check integration with server. So I encountered test failures with rethinkdb build from this repo. With old rethinkdb-legacy it passes.
Rethinkdb built from next branch fails on https://github.com/rethinkdb/rethinkdb/blob/next/test/rql_test/src/control.yaml tests:
* `r.js('function() { return 1; }')` expected `SyntaxError: Unexpected token (` got `SyntaxE

[2018-10-06 16:32] CMogilko commented on #43
times/constructors.yaml:
* `r.epochTime(253430000000).year()` returns error instead of `10000`
* `r.epochTime(-17990000000).year()` expected `Error in time logic: Year is out of valid range: 1400..10000.` got `Error in time logic: Year is out of valid range: 1400..9999.`

times/time_arith.yaml:
* `r.do(r.epochTime(1.375147296681e+09), r.js("(function(data){return data})")).toEpochTime()` returns e

[2018-10-07 16:31] asakatida commented on #42
This is an issue discussed during the migration to Duktape see #5. There is a preview hook that needs to be setup for timeouts.

[2018-10-07 16:33] asakatida commented on #42
Exact fix is stubbed in code https://github.com/grandquista/rebirthdb/blob/next/src/extproc/js_job.cc#L34.

[2018-10-07 16:35] asakatida commented on #43
This seems related to the Duktape migration #5.

[2018-10-12 08:46] loeffel-io opened #44 "How to migrate from rethinkdb to rebirthdb"
Hey, i need to migrate my `rethinkdb` data from a server to another server (where `rebirthdb`) is running.

I dumped the rethinkdb data with `rethinkdb dump`.

How i can restore the data?

[2018-10-12 09:10] loeffel-io opened #45 "Wrong version"
When i install rebirthdb like in the readme described i see the following in my rebirth admin panel on `ubuntu 16.4`

<img width="401" alt="bildschirmfoto 2018-10-12 um 11 08 49" src="https://user-images.githubusercontent.com/12670730/46859914-650d4580-ce0f-11e8-8523-c3d3afabf338.png">

[2018-10-12 09:11] loeffel-io commented on #45
When i run `rebirthdb --version` i get `rebirthdb 2.3.6+fallback~0xenial (GCC 5.5.0)`

[2018-10-12 11:59] loeffel-io commented on #44
switched back to `rethinkdb` 👎

[2018-10-12 12:01] atris commented on #44
@loeffel-io There isnt any functional difference yet between ``rebirthdb`` and ``rethinkdb``, now that we have merged them back.

However, if you are using the current version of ``rethinkdb``, there should be no issues to upgrading (since there are no breaking changes). Can you describe what you did and what didnt work?

[2018-10-14 19:05] FranklinYu commented on #33
Sorry if this is off topic; searching "Bionic" in issue list brings me here.

So after the merge, RethinkDB v2.4 will be available to http://download.rethinkdb.com/apt? Or we should move to Bintray? Currently there is no way to install RethinkDB on Ubuntu Bionic. Not even the dev repository:

[code]

[2018-10-16 09:10] gounthar commented on #28
If you ever need a machine to build, I have been lent one to do it... and my repositories are already linked to aarch64 building machines at shippable.

[2018-10-18 02:43] rafaeltokyo commented on #38
Can you give me the following information:

1. What image are you using?
2. Which version are you using?

[2018-10-18 03:00] medeirosfalante commented on #38
There really is a memory leak, Already planned this fix in new version.

[2018-10-18 14:30] Bacto opened #51 "Graphics assets"
Hi,

I'm very happy to see that something is going on RethinkDB :)

I would like to prepare the future release on our PAAS Stackhero (https://www.stackhero.io).
For that I need the logo but can't find a SVG version.
Is there a way to get it as an SVG file? If so, it could be great to put in with sources.

Thanks,
Adrien

[2018-10-18 17:00] thelinuxlich commented on #51
Hi Adrien! We opened a art repository in the organization and now we are waiting the Linux Foundation to send us the art assets. Everything will be there, Stay tuned

[2018-10-18 17:01] thelinuxlich commented on #38
Are you using the write flush feature?

[2018-10-19 16:09] Outstep opened #52 "question of functions?"
Hello,

Since it seems that RethinkDB is now basically no longer a commercial entity, but I still like what I have seen in the database while considering to use it for a type of website rating/voting system, I did not know if there were any discussion communities around so I wanted to ask my question here.

In PostgreSQL and others, you can store triggers, functions and procedures within the serve

[2018-10-22 20:29] ChrisTalman commented on #52
I don't believe it does, no.

[2018-10-23 09:29] gounthar commented on #28
I have tried to build on a machine I have been lent, and got only one file issuing an error.
Way cool!

[code]
Here is what configure tells me:

[code]

[2018-10-24 08:37] Bacto commented on #51
Awesome. Thanks for your reply :)

[2018-10-24 08:37] #51 closed, assigned to nobody

[2018-10-26 12:15] lag-linaro commented on #28
That is cool. :smiley:

And in case you haven't solved it yet, here is the patch to make it compile cleanly:

[code]

[2018-10-26 13:50] gounthar commented on #28
Thanks a lot. I applied your patch and managed to go 'til the end:

[code]

I don't know why I get this `2.3.2-windows-beta` though...

[2018-10-26 14:59] lag-linaro commented on #28
Which branch are you on?

[2018-10-26 15:26] gounthar commented on #28
On branch next.

[2018-10-26 15:37] lag-linaro commented on #28
Looks like it's hard coded into `src/gxen/web_assets.cc`.

Probably take with a pinch of salt.

[2018-10-26 16:11] gounthar commented on #28
Thanks. If you ever want to have a try at it, have a look at https://github.com/gounthar/rethinkdb/releases/download/aarch64/rebirthdb_2.3.2+windows+beta+579+g11ad11+dirty.0_arm64.deb.gz .

[2018-10-26 16:32] lag-linaro commented on #28
That's okay, I've built my own.

So now that we know this works, we should lobby for support.

Someone is meant to be working on this.

They were busy during the v2.4 release, but it is on the roadmap for v2.5

https://spectrum.chat/?t=f288604b-8db8-43be-b7f0-2f3a7b343e1c

[2018-10-26 16:33] lag-linaro commented on #28
https://spectrum.chat/?t=f288604b-8db8-43be-b7f0-2f3a7b343e1c

[2018-11-01 09:16] binaek opened #54 "Cannot install RebirthDB"
When I try to install RebirthDB, it spits out an error:

E: The repository 'https://dl.bintray.com/rebirthdb/apt bionic Release' is not signed.
N: Updating from such a repository can't be done securely, and is therefore disabled by default.

Any idea how I can get it working?

I was following the installation instructions given in the ReadMe.md of the *next* branch

[2018-11-01 13:51] codeliger opened #55 "http://slack.rethinkdb.com/ cannot be reached"
Visiting http://slack.rethinkdb.com/ gives error cannot be reached

[2018-11-03 18:15] cfanoulis commented on #54
Can reproduce ubuntu 18.10

[2018-11-04 18:17] fikisipi commented on #55
Still cannot be reached.

[2018-11-04 23:07] thelinuxlich commented on #55
The official communication hub now is https://spectrum.chat/rethinkdb

[2018-11-06 16:06] #55 closed, assigned to nobody

[2018-11-07 22:14] TwinkleToes423 opened #57 "Install on Pi 3"
I am attempting to install RethinkDB on a Raspberry Pi 3b. I follow your build instructions, however, it never makes it past process 19. I have tried a fresh install of the OS, I also attempted both the versions for the Pi and Debian. Noting seems to work. What do you recommend?

[2018-11-08 12:33] ChrisTalman opened #58 "Discord?"
Is there a Discord server for RethinkDB? If not, could we create one?

Discord is used by [a lot of open source projects](https://discordapp.com/open-source) and is really fun and convenient to use.

I'm aware that the project has a Spectrum community. I'm not familiar with that platform, but its structure seems different from Discord. I think that some users might find Discord to be more accessib

[2018-11-08 21:38] thelinuxlich commented on #58
We had a internal discussion months ago about that and decided to make Spectrum the sole communication hub as Discord lacks some features desirable for project management/Q&A.

[2018-11-08 21:38] #58 closed, assigned to nobody

[2018-11-14 19:05] anatol opened #59 "Segmentation fault with "mksnapshot""
I am trying to build RethinkDB at Arch Linux and it crashes:

[code]

The old rethinkdb database had a ticket with this bug and there was a proposed patch. But the old issues database has gone. https://github.com/rethinkdb/rethinkdb/issues/5757

[2018-11-14 22:08] anatol commented on #39
@atris any update? Arch Linux devs started filing tickets because of it. https://bugs.archlinux.org/task/60743

[2018-11-15 16:20] asakatida commented on #59
rethinkdb/rethinkdb-legacy#5757 there are a few fixes in there. Some of them even made it into the codebase. At the end there is discussion of Duktape, which we have implemented the patch for. That would fix this issue for `next`. The other proposed solution was mandating `CXX=clang++`, as this is clearly a bug in `gcc5`.

[2018-11-17 19:55] ouroboroscoding commented on #54
Same problem, when is RethinkDB going to be available for 18.04?

[2018-11-17 23:27] Andre601 opened #60 "How to update multiple values of a certain type?"
I want to change some values, that are stored in RethinkDB.
The issue is, that there are multiple entries with different tables and such and I don't really go through each one by one to update the values.
I also only want to change a value, if the old one is a certain one.

**Example**:
I have a table, where (after the ID) three values are stored: message, color and name.
Now I want to update all

[2018-11-18 06:51] cfanoulis commented on #54
can repro on ubuntu 18.04 as well, fix ya stoof

[2018-11-18 17:53] factormaarten commented on #54
When is a fix gonna be available? Just to have the full picture:

wget -qO- https://dl.bintray.com/rethinkdb/keys/pubkey.gpg | sudo apt-key add -
gives gpg: no valid OpenPGP data found.

[2018-11-18 18:42] atris commented on #54
@floydkots, does this seem related to the recent keybase resets we saw?

[2018-11-18 18:42] atris commented on #54
@floydkots, seems related to keybase reset?

[2018-11-18 19:18] factormaarten opened #61 "Build fails on s2.so"
Hi there, I'm getting this error when I make the build:

default:     [116/426] CC build/release/obj/rdb_protocol/geo/s2/s2.o
    default: In file included from src/rdb_protocol/geo/s2/s2.cc:197:0:
    default: ./src/rdb_protocol/geo/s2/util/math/exactfloat/exactfloat.h:502:10: error: field ‘bn_’ has incomplete type ‘BIGNUM {aka bignum_st}’
    default:    BIGNUM bn_;
    default:           ^~~

[2018-11-18 19:53] factormaarten commented on #61
It seems like BN_init was removed in openssl 1.1.0 > and needs to be replaced with BN_new

[2018-11-19 06:18] floydkots commented on #54
@atris, nope, they are not related. We are yet to set up the `rethinkdb` repositories on bintray.

@mpjraaij, as soon as we have a proper release candidate, we'll fix the installation issues and do a release. A lot of the energy currently is going into testing and fixing the current problems.

@binaek89, @ouroboroscoding the instructions in the README were set up in anticipation of a release (of `

[2018-11-20 14:46] ChrisTalman commented on #60
If I understand you correctly, this could be achieved using a predicate function. For instance, in JavaScript:

[code]

There's some examples of this [in the documentation](https://www.rethinkdb.com/api/javascript/filter/#more-complex-predicates). The query language is very powerful for operations like this.

[2018-11-20 15:30] Andre601 commented on #60
ok. I'll take a look at that.
thanks for the help.

[2018-11-20 15:30] #60 closed, assigned to nobody

[2018-11-27 09:14] lag-linaro commented on #28
Road-map for v2.5 has been postponed indefinitely due to a lack of developers.

Not sure where that leaves AArch64 support.  I have followed up  on the Spectrum chat.

https://spectrum.chat/?t=f288604b-8db8-43be-b7f0-2f3a7b343e1c

[2018-11-30 04:36] atris opened #63 "Revoking contributor license from RethinkDB"
I would like to revoke the contributor license that I signed for my contributions to RethinkDB, hereby taking back any rights that RethinkDB community has to use my contributions in the codebase. I would request the administrators to please delete all my commits and all my branches, and not use any of my code or ideas embodied in the code in any future or current release

[2018-11-30 14:12] thelinuxlich commented on #63
That's pretty vague, unless you pinpoint exactly what needs to be gone, it will remain the same.

[2018-11-30 14:13] thelinuxlich commented on #39
Unless someone steps in and merge the diff between this repo and rethinkdb-legacy, so we can rename the rethinkdb-legacy repo to rethinkdb again, nothing changes.

[2018-11-30 14:14] thelinuxlich commented on #41
More shards add more latency, it's difficult to do a rough estimate.

[2018-11-30 14:14] #27 closed, assigned to nobody

[2018-11-30 14:15] #37 closed, assigned to nobody

[2018-11-30 14:19] thelinuxlich commented on #63
Closing in favor of a specific issue.

[2018-11-30 14:19] #63 closed, assigned to nobody

[2018-11-30 15:41] cn73 opened #64 "Java Driver Connection Timeout"
according to official documentation https://www.rethinkdb.com/api/java/ it is seconds, but following the flow of the code, we get to a java.net.Socket, whose timeout is set in ms. I assume it is an error in the java documentation.

in this class are you sure do you intend 20 ms as default?
package com.rethinkdb;

public class RethinkDBConstants {
    public static final String DEFAULT_DB_NAME = "t

[2018-11-30 16:11] thelinuxlich commented on #64
We don't have a mantainer to the Java driver right now :(

[2018-12-08 01:18] Jinex14 commented on #64
The driver does not work in Android Studio (java) is there any solution for this?

[2018-12-10 00:11] Jinex14 opened #65 "Java driver for android studio"
The java driver does not work when it comes to linking android studio applications. Do you have any way of making the connection for mobile applications developed with java in android studio?

[2018-12-10 22:32] janecek opened #66 "Node.js driver"
Hi, what is the actual preferred Node.js driver for RethinkDB. Is it rethinkdb-ts, rethinkdb-js or rethinkdbdash?
Thanks

[2018-12-12 09:01] a14n opened #67 "Github banner mentions rebirthdb on README"

[2018-12-12 21:11] apollux commented on #38
I am observing the same behavior. I have the cache-size limit of configured at 1GB and see the memory usage grow way over that limit, until all available memory is used.

Is there any information available on the memory leak? Is it known what triggers it or how to quickly reproduce it? I see mention of a fix, has there done any work on this already?

[2018-12-13 16:28] jasonCodesAway opened #68 "Unable to donate $$$!!!"
I tried to donate $50 here for this awesome project: https://www.rethinkdb.com/contribute/#donate
However, I get the attached "502 Bad Gateway" error. I tried twice, didn't see anything post to my credit card.

Thanks for the awesome project!
<img width="1084" alt="rethinkdb donation 502 bad gateway error" src="https://user-images.githubusercontent.com/14617506/49952549-20af2c00-feca-11e8-82e1-cf0

[2018-12-13 16:31] jasonCodesAway commented on #68
Apparently I didn't wait long enough, the charges both now show as pending. Would be nice to not have this error, but enjoy the extra donation, rethink is worth it!

[2018-12-13 18:38] thelinuxlich commented on #68
Jason, we will be setting up a Patreon to fund the continued development of RethinkDB soon...stay tuned for awesome news

[2018-12-13 18:38] #68 closed, assigned to nobody

[2018-12-14 14:07] itsazzad commented on #54
http://download.rethinkdb.com/apt/dists/
No distribution for bionic!
[code]

[2018-12-17 18:57] gustavopch opened #69 "Future of RethinkDB"
Hi.

Having recently discovered RethinkDB and found it an awesome piece of software that provides a delightful development experience, I'm confused about its future.

Will it be maintained and will new features land? Should people still develop apps for production using it or better move to other databases? Any economic strategy to get enough traction to keep an active development? Anybody plannin

[2018-12-17 20:52] mwakerman commented on #69
Regrettably, I really don’t think anyone should be starting any new commercial projects with RethinkDB. There are no devs, it’s been 1.5 years since the last release (from memory, the 2.4 release was actually paid for, unsure what happened), there are some plans to move the guts to FoundationDB.

[2018-12-19 20:39] thelinuxlich commented on #69
Hi Gustavo. There are plans to open a Patreon and fund the continued development of RethinkDB, as @mwakerman said, with FoundationDB as the well, foundation.
I have a web analytics system using RethinkDB as the primary database FYI.

[2018-12-19 20:39] #69 closed, assigned to nobody

[2018-12-20 16:59] vodolaz095 commented on #66
in my opinion - http://justonepixel.com/thinky/ based around rethinkdbdash

[2018-12-24 07:39] prakashsvmx opened #70 "rethink db adminstration console not connecting"
![rethinkdb administration console](https://user-images.githubusercontent.com/23444145/50393571-1f5ce980-077d-11e9-8ebd-170ca80f5038.png)

[2018-12-24 07:42] prakashsvmx commented on #70
Required parameter "conn_id" missing
in the browser network tab.

[2018-12-24 20:43] GaikwadPratik commented on #66
Seems like they are saying `rethinkdb-ts`... [source](https://github.com/rethinkdb/rethinkdb-js/issues/19). Can anyone from the developer plz confirm?

[2018-12-24 23:30] thelinuxlich commented on #66
we confirm!

[2018-12-24 23:30] #66 closed, assigned to nobody

[2018-12-26 01:56] MurugappanV commented on #57
Are you not using SWAP partition? SWAP partition of atleast 1GB is required, by default only 100MB is available in Pi3

[2018-12-26 02:00] MurugappanV commented on #44
use this command `rethinkdb restore filename` replace filename with your dump file path

[2018-12-26 03:02] TwinkleToes23 commented on #57
Yes I am, i dug deeper and there is a version mismatch on the supporting libraries.

[2018-12-26 14:54] MurugappanV commented on #57
how did you solved the version mismatch?

[2018-12-26 16:10] TwinkleToes23 commented on #57
It isnt something I can solve. The devs need to handle it.

[2018-12-29 15:45] RobMaple commented on #54
I've been having issues installing on 16.04 and realised it was specifically from following the installation guide on github -- the rethinkdb website instructions work fine. The difference being the github installation tries to download from bintray whereas the the rethinkdb ones come from rethinkdb.com

[2019-01-06 19:59] Andre601 opened #71 "Is it possible to export/import data from RethinkDB without python?"
My host is moving servers and my VPS where RethinkDB is running is affected from that.
Since the migration is not automated, I have to do it myself.

I checked the export-page on how to do that but the `rethinkdb dump` command tells me, I have to install the client first.
The provided link brought me to how to install it for python.
But I personally don't want to first install python and then the

[2019-01-12 23:49] Andre601 commented on #71
Since time was short and I really didn't wanted to wait 2.5 years for an answer, I installed the python client and moved the stuff myself...
Useless extra step I had to do for just moving data, but since time was short, I had to do it.

A simple yes or no answer would've been enough here.

[2019-01-12 23:49] #71 closed, assigned to nobody

[2019-01-17 16:41] FranklinYu commented on #54
@floydkots Is there anything we can help? Are we having any issue publishing [v2.3.6](https://github.com/rethinkdb/rethinkdb/releases/tag/v2.3.6)?

[2019-01-17 17:12] floydkots commented on #54
Hi @FranklinYu, please see my response here: https://spectrum.chat/rethinkdb/engineering/package-ubuntu-bionic~aaa7e272-0b6f-4681-8715-158c6d3df894?m=MTU0Nzc0NTAzMzEzOQ==

[2019-01-18 16:16] pashazz opened #72 "Unset loop type in some threads"
So, after I do `r.set_loop_type('asyncio')` the returning value from `r.connect` changes to asyncio Future. But what if I want to use normal version of r.connect in some threads that are lacking an asyncio loop? Right now it leads to some consequences  - 'generator' objects in unexpected places.

[2019-01-24 13:18] pashazz commented on #72
I will reopen it in python driver's bugtracker

[2019-01-24 13:18] #72 closed, assigned to nobody

[2019-01-24 15:13] serle opened #73 "Question: Close ChangeFeed"
I'm thinking about setting up multiple change feeds, Is there a way to get a handle to the change feed so that at a later time I can explicitly close the changefeed?

[2019-01-31 13:38] uvr108 opened #74 "whith python 3.7.3 we have an error on exec of code"
I need to connect rethinkdb client  to python 3.7.3 with asyncio library and have this error :

 File "/home/gnss/.virtualenvs-3.7.2/gnss/lib/python3.7/site-packages/rethinkdb/net.py", line 677, in set_loop_type
    module = imp.load_module('rethinkdb.' + moduleName, moduleFile, pathName, desc)
  File "/home/gnss/.virtualenvs-3.7.2/gnss/lib/python3.7/imp.py", line 234, in load_module
    return lo

[2019-02-07 10:59] ferhatguneri opened #75 "Nested Json Selecting Issue"
Hello,

I'm trying to select nested json but there is no result for both of python and data explorer

Here is my query trying on rethinkdb data explorer and json

r.db("db").table("table").filter({"data": {"port":"80"}})

"IP":  "x.x.x.x" ,
"asn":  "AS123456" ,
"data": [
{
"cpe":  "" ,
"module":  "imap" ,
"port":  "143" ,
"product":  "" ,
"transport":  "tcp"
}
{
"cpe":  "" ,
"module":  "http" ,
"p

[2019-02-07 11:38] ferhatguneri commented on #75
Hello Again,

I'v found the correct query in google forum https://groups.google.com/forum/#!searchin/rethinkdb/nested%7Csort:date/rethinkdb/UKC0z89hDzw/YBw1mUBqEgAJ

here is the query
  r.db("db").table("table").filter((r.row('data').contains(function(product) {return product('port').eq('22');}))).orderBy("IP")

[2019-02-07 11:38] #75 closed, assigned to nobody

[2019-03-24 00:31] eritbh opened #76 "Status of this repository?"
Hi, I'm a bit confused on the difference between this repository and https://github.com/rethinkdb/rethinkdb. I understand that at some point, the original developers of RethinkDB abandoned the project, and this repo was used until community members gained access to the original repository; is this one still used at all? If not, can it be marked as archived to avoid confusion?

[2019-03-24 02:34] lavvy commented on #76
There was so much traction and so much hope when it was rebirth .
Ever since it moved back to rethink it died again.
Wether it was a bait, no one can tell

[2019-03-25 14:24] thelinuxlich commented on #76
The intention was to merge some things people did in this branch to the rethinkdb branch. It's here in case someone do this PR, anyway, development is going forward in https://github.com/rethinkdb/rethinkdb

The thing is, unfortunately the project is not interesting enough to attract the kind of developer needed to handle the complex RethinkDB codebase without funding.

[2019-09-23 17:16] #76 closed, assigned to nobody

[2019-11-23 10:09] omesser commented on #38
Hey folks, Is anyone working on this? Any ETA?

[2020-01-22 20:54] #41 closed, assigned to nobody

[2020-04-02 11:19] #54 closed, assigned to nobody

[2022-03-14 13:23] Khalilbz commented on #38
FINALLY, A solution for my problem of infinity increasing memory, I found that I was doing :

`...run(con, {durability: 'hard'});`

at every update, replace and delete, then I changed it to :

`...run(con);`

and memory (RAM) stopped increasing.